html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: 700;
}

.boilerplate-header {
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list a {
  text-decoration: none;
  padding: 15px 30px;
  text-decoration: none;
  color: rgb(230, 230, 230);
  font-size: 1.5rem;
  display: block;
  white-space: nowrap;
}

.nav-list a:hover {
  background-color: rgb(54, 54, 54);
}

a.logo {
  color: rgb(0, 236, 0);
}

body {
  background-color: rgb(235, 235, 235);
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1300px;
  padding: 20px;

}

.content-wrapper > h1 {
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
  font-size: 2.6rem;
  margin-bottom: 20px;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: row;
  row-gap: 10px;
}

@media (min-width: 600px) {
  .product-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 10px;
  }
}

.product-grid-container a {
  display: flex;
  text-decoration: none;
  padding: 20px;
  color: black;
  box-shadow: 1px 1px 5px rgba(75, 75, 75, 0.637);
  font-size: 1.4rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.product-grid-container h2 {
  margin-top: 15px;
}

.product-grid-container a:hover {
  background-color: rgb(245, 245, 245);
}

.category-grid-container {
  display: grid;
  row-gap: 10px;
}

.category-grid-container a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: black;
  box-shadow: 1px 1px 5px rgba(75, 75, 75, 0.637);
  min-width: 300px;
  font-size: 1.4rem;
  background-color: #fff;
}

.category-grid-container a:hover {
  background-color: rgb(245, 245, 245);
}

.product-image-wrapper {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.product-image {
  max-width: 250px;
  max-height: 250px;
}

.product-image-wrapper.large {
  width: 400px;
  height: 400px;
}

.product-image-wrapper.large .product-image {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.error-msg {
  background-color: rgb(255, 176, 193);
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 700px;
  padding: 40px;
  font-size: 1.2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.show-container {
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: max(80%, 300px);
}

.show-container div {
  display: flex;
  justify-content: space-between;
}

.show-container a {
  display: inline-block;
  margin: 20px 0;
  color: rgb(59, 156, 59);
}

.link-button {
  background-color: rgb(31, 117, 31);
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  text-decoration: none;
  width: fit-content;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.link-button:hover,
button:hover {
  background-color: rgb(59, 156, 59);
}

.button {
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: rgb(31, 117, 31);
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  font-size: 16px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20%;
}

.form > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form label {
  font-size: 1.3rem;
  margin: 10px 0;
}

.form input,
.form textarea,
.form select {
  font-size: 1.2rem;
  padding: 5px;
  font-family: "Numito", sans-serif;
}

.bg-blue {
  background-color: rgb(0, 17, 173);
}

.bg-blue:hover {
  background-color: rgb(22, 43, 224);
}

.bg-red {
  background-color: rgb(189, 0, 0);
}

.bg-red:hover {
  background-color: rgb(221, 0, 0);
}

.centered-title {
  display: block;
  margin: 10px auto;
  width: fit-content;
  font-size: 1.3rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container .link-button {
  margin: 20px 10px;
  width: 100px;
  text-align: center;
}

.was-validated {
}

.was-validated input:valid,
.was-validated textarea:valid,
.was-validated select:valid {
  outline: 2px solid rgba(0, 194, 0, 0.541);
}

.was-validated .validate-msg {
  content: "Good";
  color: black;
  background-color: #fff;
  margin: 10px 0;
  color: rgb(80, 80, 80);
  font-size: 1.2rem;
}

.was-validated input:invalid,
.was-validated textarea:invalid,
.was-validated select:invalid {
  outline: 2px solid rgba(255, 0, 0, 0.644);
}
