<% layout("layouts/boilerplate") %>
<h1>Categories</h1>
<div class="category-grid-container">
  <% for (category of categories) {%>
  <a href="<%= category.url %>">
    <p><%= category.name %></p>
  </a>
  <% } %>
</div>
<a class="link-button" href="/categories/new">New Category</a>